@model  MyLibraryMain.Models.Catalog.AssetIndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author / Director</th>
            <th>Dewey Call Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var asset in Model.Assets)
        {
            <tr>
                <td>
                    <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@asset.Id">
                        <img src="@asset.ImageUrl" />
                    </a>
                </td>
                <td>
                    @asset.Title
                </td>
                <td>
                    @asset.AuthorOrDirector
                </td>
                <td>
                    @asset.DeweyCallNumber
                </td>
            </tr>
        }
    </tbody>
</table>

